{% extends "base.html.twig" %}
{% block body %}
 <body class="" style="margin:0px">
  {% block header %}
   <div class="header container-fluid col-12" >
    <span class="logo">{{"Calculate EveryThing"}}</span>
    <sub class="underlogo">{{ "your free calculator" }}</sub>
   </div>
   {% block navbar %}
    {% set navItems = ["general", "physics", "chemistry", "math", "biology", "others"] %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <button class="navbar-toggler listHeading" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="listHeading">calculator menu <span class="downArrow">v</span></span>
     </button>
     <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav" >
       {% for navitem in navItems %}
        <li class="nav-item active navItem navbar-custom" >
         <a class="nav-link navItem " id="navItem" style="color:blue" href="#">{{ navitem }}</a>
        </li>
       {% endfor %}
      </ul>
     </div>
    </nav>
   {% endblock navbar %}
  {% endblock header %}

  {% block bodyCenter %}
   {% include "calculatorBody/generalCalculatorBody.html.twig" %}
  {% endblock bodyCenter %}

  {% block footer %}

  {% endblock footer %} 

 </body>
{% endblock %}
